In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns',None)

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree  import DecisionTreeRegressor

In [3]:
import sklearn
print(sklearn.__version__)

1.3.0

In [4]:
data = pd.read_csv('../data/Processed_DatasetsAmount-of Waste-Generated-By-State 32121-0003.csv')

In [5]:
data.head()

,Year,States,Types of Waste,Total Household Waste Generated (Tons),Household Waste Generated per Inhabitant (kg)
0,2004,Baden-Württemberg,Residual household and bulky wastes,1605.6,150.0
1,2004,Baden-Württemberg,Separately collected organic wastes,1220.5,114.0
2,2004,Baden-Württemberg,Separately collected recyclables,1645.3,154.0
3,2004,Baden-Württemberg,Other wastes,9.4,1.0
4,2004,Bayern,Separately collected organic wastes,1677.3,135.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 5 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Year                                           1046 non-null   int64
 1   States                                         1046 non-null   object
 2   Types of Waste                                 1046 non-null   object
 3   Total Household Waste Generated (Tons)         1046 non-null   float64
 4   Household Waste Generated per Inhabitant (kg)  1046 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 41.0+ KB

In [7]:
data.isnull().sum()

Year                                             0
States                                           0
Types of Waste                                   0
Total Household Waste Generated (Tons)           0
Household Waste Generated per Inhabitant (kg)    0
dtype: int64

In [8]:
data.describe()

,Year,Total Household Waste Generated (Tons),Household Waste Generated per Inhabitant (kg)
count,1046.000000,1046.000000,1046.000000
mean,2012.451243,405.893881,110.816904
std,5.181030,462.755575,80.167121
min,2004.000000,0.100000,1.000000
25%,2008.000000,29.400000,21.000000
50%,2012.000000,230.300000,125.000000
75%,2017.000000,613.750000,163.000000
max,2021.000000,1799.100000,349.000000

In [9]:
data.corr()

,Year,Total Household Waste Generated (Tons),Household Waste Generated per Inhabitant (kg)
Year,1.000000,-0.020062,0.019148
Total Household Waste Generated (Tons),-0.020062,1.000000,0.575053
Household Waste Generated per Inhabitant (kg),0.019148,0.575053,1.000000

Univariant Analysis

In [10]:
data['Year'].unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [11]:
data['States'].unique()

array(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'], dtype=object)

In [12]:
data['Types of Waste'].unique()

array(['Residual household and bulky wastes',
       'Separately collected organic wastes',
       'Separately collected recyclables', 'Other wastes'], dtype=object)

In [13]:
data['Total Household Waste Generated (Tons)'].unique()

array([1.6056e+03, 1.2205e+03, 1.6453e+03, 9.4000e+00, 1.6773e+03,
       5.9100e+01, 9.7500e+02, 9.9200e+01, 3.9020e+02, 1.5000e+00,
       5.5820e+02, 7.2100e+01, 3.4540e+02, 6.6000e+00, 1.6700e+02,
       5.7000e+01, 9.5000e+01, 2.0000e-01, 3.7300e+01, 1.7020e+02,
       1.9000e+00, 1.2787e+03, 7.2780e+02, 8.1010e+02, 3.3000e+00,
       4.0710e+02, 6.9700e+01, 2.5360e+02, 1.4000e+00, 1.6581e+03,
       1.1052e+03, 1.1605e+03, 1.0100e+01, 9.8100e+01, 8.0410e+02,
       5.3250e+02, 6.4320e+02, 2.1500e+01, 2.6880e+02, 1.6030e+02,
       1.2640e+02, 5.0000e-01, 6.9600e+02, 2.0330e+02, 5.8870e+02,
       2.6000e+00, 6.2530e+02, 1.8330e+02, 3.3840e+02, 2.0800e+01,
       6.8850e+02, 2.8050e+02, 4.1370e+02, 4.9750e+02, 1.4380e+02,
       3.3630e+02, 1.4700e+01, 1.5683e+03, 1.2393e+03, 1.7027e+03,
       8.8000e+00, 1.5971e+03, 5.4100e+01, 9.7890e+02, 1.1380e+02,
       4.0670e+02, 5.6250e+02, 7.2500e+01, 3.5270e+02, 4.1000e+00,
       1.6410e+02, 5.8000e+01, 8.8100e+01, 3.0000e-01, 3.6200e+01,
       1.6380e+02, 1.2664e+03, 7.0540e+02, 8.0860e+02, 4.0060e+02,
       7.0900e+01, 2.4560e+02, 9.0000e-01, 1.5907e+03, 1.1216e+03,
       1.2021e+03, 4.5000e+00, 3.8300e+01, 8.0890e+02, 5.2320e+02,
       6.5480e+02, 1.7900e+01, 2.6820e+02, 1.4120e+02, 1.2710e+02,
       6.0000e-01, 6.8200e+02, 2.1700e+02, 5.6140e+02, 3.5000e+00,
       5.8270e+02, 1.8310e+02, 3.3330e+02, 1.0300e+01, 6.5650e+02,
       2.6950e+02, 4.0820e+02, 1.8000e+00, 4.7170e+02, 1.4430e+02,
       3.3440e+02, 1.0500e+01, 1.5840e+03, 1.2324e+03, 1.7515e+03,
       8.6000e+00, 1.6302e+03, 5.8100e+01, 9.4410e+02, 1.1900e+02,
       4.1420e+02, 2.2000e+00, 5.6920e+02, 5.6900e+01, 3.5660e+02,
       1.6590e+02, 8.6400e+01, 6.1270e+02, 3.5700e+01, 1.6760e+02,
       2.1000e+00, 1.2883e+03, 7.2230e+02, 8.6310e+02, 3.1000e+00,
       3.9200e+02, 7.4100e+01, 2.4820e+02, 8.0000e-01, 1.5888e+03,
       1.1460e+03, 1.2352e+03, 7.4000e+00, 2.5700e+01, 8.0050e+02,
       5.3570e+02, 6.7710e+02, 1.7700e+01, 2.5810e+02, 1.3460e+02,
       1.3290e+02, 6.6240e+02, 2.0820e+02, 5.5710e+02, 1.6300e+01,
       2.0770e+02, 3.2460e+02, 7.1000e+00, 6.5450e+02, 2.7970e+02,
       4.2750e+02, 2.4000e+00, 4.7320e+02, 1.4600e+02, 3.2140e+02,
       8.7000e+00, 1.5405e+03, 1.2857e+03, 1.7680e+03, 6.9000e+00,
       1.6516e+03, 6.5300e+01, 9.2760e+02, 1.2130e+02, 4.2090e+02,
       2.3000e+00, 5.5790e+02, 8.5300e+01, 3.5570e+02, 1.6370e+02,
       5.9400e+01, 6.1840e+02, 3.7800e+01, 1.7740e+02, 1.2602e+03,
       7.4260e+02, 8.3610e+02, 3.4000e+00, 3.9170e+02, 8.1000e+01,
       2.4670e+02, 1.5794e+03, 1.2083e+03, 1.2381e+03, 7.0000e+00,
       3.0400e+01, 7.8230e+02, 5.4860e+02, 2.0000e+01, 2.5000e+02,
       1.3430e+02, 1.3990e+02, 7.0000e-01, 2.1740e+02, 5.3190e+02,
       5.2560e+02, 2.2010e+02, 3.0130e+02, 6.4810e+02, 2.7800e+02,
       4.2800e+02, 4.2810e+02, 1.5310e+02, 3.0610e+02, 8.0000e+00,
       1.5367e+03, 1.2862e+03, 1.7540e+03, 1.7155e+03, 6.4000e+01,
       8.9780e+02, 1.1020e+02, 4.1120e+02, 5.0370e+02, 8.0600e+01,
       3.4780e+02, 1.6100e+02, 8.4500e+01, 6.0030e+02, 3.5000e+01,
       1.8090e+02, 7.4220e+02, 8.3110e+02, 2.9000e+00, 3.7920e+02,
       7.9000e+01, 2.3200e+02, 1.5382e+03, 1.2081e+03, 1.2225e+03,
       1.1200e+01, 3.3500e+01, 7.6950e+02, 5.5560e+02, 6.7580e+02,
       1.7400e+01, 2.4690e+02, 1.3660e+02, 1.2860e+02, 6.4100e+02,
       2.0690e+02, 5.0040e+02, 3.7000e+00, 4.9660e+02, 2.1920e+02,
       3.0970e+02, 5.3000e+00, 6.3710e+02, 4.3190e+02, 2.5000e+00,
       4.1400e+02, 1.5100e+02, 2.9110e+02, 7.6000e+00, 1.5666e+03,
       1.3519e+03, 1.7548e+03, 1.7722e+03, 6.7400e+01, 9.1140e+02,
       4.0180e+02, 9.8300e+01, 3.4300e+02, 2.0000e+00, 1.6160e+02,
       8.1600e+01, 5.8620e+02, 3.6100e+01, 1.7820e+02, 1.2528e+03,
       7.8890e+02, 8.4840e+02, 2.2100e+01, 3.8120e+02, 8.6800e+01,
       2.2150e+02, 1.5254e+03, 1.1911e+03, 1.2264e+03, 9.9000e+00,
       4.3100e+01, 7.7500e+02, 5.9050e+02, 6.8650e+02, 2.0100e+01,
       2.4550e+02, 1.4080e+02, 1.1970e+02, 6.4230e+02, 2.2290e+02,
       5.0010e+02, 4.9460e+02, 2.4050e+02, 3.0760e+02, 4.0000e+00,
       6.4200e+02, 2.6840e+02, 4.3040e+02, 4.2400e+02, 1.6660e+02,
       2.9280e+02, 1.5567e+03, 1.2949e+03, 1.7531e+03, 7.2000e+00,
       1.7337e+03, 8.4600e+01, 8.9300e+02, 1.1460e+02, 3.9930e+02,
       5.3330e+02, 9.9900e+01, 3.4650e+02, 1.5830e+02, 5.6600e+01,
       8.0400e+01, 5.6690e+02, 3.7200e+01, 1.8070e+02, 1.2463e+03,
       7.7910e+02, 8.4010e+02, 3.2000e+00, 3.7810e+02, 8.1900e+01,
       2.2240e+02, 1.0000e+00, 1.5095e+03, 1.1434e+03, 1.2342e+03,
       8.2000e+00, 4.3800e+01, 7.7730e+02, 5.8280e+02, 6.8360e+02,
       1.7100e+01, 2.4590e+02, 1.3560e+02, 1.1640e+02, 6.3180e+02,
       2.1370e+02, 4.9440e+02, 4.9570e+02, 2.2470e+02, 3.1100e+02,
       6.3310e+02, 2.5560e+02, 4.3400e+02, 4.1320e+02, 1.6000e+02,
       2.9220e+02, 7.5000e+00, 1.5550e+03, 1.3725e+03, 1.7793e+03,
       1.7816e+03, 6.7000e+00, 8.8010e+02, 1.2700e+02, 4.1650e+02,
       5.3440e+02, 1.0950e+02, 3.4750e+02, 1.5960e+02, 8.1300e+01,
       5.5180e+02, 5.5100e+01, 1.9330e+02, 2.7000e+00, 1.2270e+03,
       7.6820e+02, 8.5520e+02, 3.8010e+02, 9.4100e+01, 2.2280e+02,
       1.5184e+03, 1.1924e+03, 1.2803e+03, 2.9400e+01, 7.6690e+02,
       5.8780e+02, 6.9920e+02, 1.7000e+01, 1.8960e+02, 1.4060e+02,
       1.3330e+02, 6.3390e+02, 2.2080e+02, 5.0260e+02, 3.8000e+00,
       4.8130e+02, 2.4080e+02, 3.0770e+02, 6.5470e+02, 2.6610e+02,
       4.4170e+02, 4.1570e+02, 1.6920e+02, 2.9200e+02, 8.1000e+00,
       1.5332e+03, 1.3859e+03, 1.7762e+03, 3.8200e+01, 8.6150e+02,
       1.2650e+02, 4.0260e+02, 5.2090e+02, 1.0720e+02, 3.3320e+02,
       1.5000e+02, 5.7800e+01, 7.9300e+01, 5.1970e+02, 6.7900e+01,
       1.9680e+02, 1.1933e+03, 7.6470e+02, 8.4400e+02, 3.7360e+02,
       1.4867e+03, 1.1739e+03, 1.2789e+03, 7.4770e+02, 5.8760e+02,
       6.8890e+02, 1.8660e+02, 1.3770e+02, 1.3370e+02, 6.0670e+02,
       2.0130e+02, 4.8550e+02, 3.6000e+00, 4.5970e+02, 2.4430e+02,
       2.9600e+02, 6.4520e+02, 2.6870e+02, 4.3000e+02, 3.0000e+00,
       3.9810e+02, 1.6890e+02, 2.8070e+02, 1.5253e+03, 1.3790e+03,
       1.7881e+03, 1.7927e+03, 5.6400e+01, 8.6690e+02, 1.3450e+02,
       3.8560e+02, 5.1490e+02, 3.3000e+02, 1.5150e+02, 5.5600e+01,
       7.9600e+01, 5.0650e+02, 7.1600e+01, 2.0940e+02, 1.1820e+03,
       7.6210e+02, 8.4180e+02, 3.6930e+02, 9.4500e+01, 1.4748e+03,
       1.1423e+03, 1.2785e+03, 1.1500e+01, 2.1200e+01, 7.4290e+02,
       6.8810e+02, 2.2400e+01, 1.8620e+02, 1.4160e+02, 1.5930e+02,
       6.0860e+02, 1.9550e+02, 4.9190e+02, 4.6280e+02, 2.4190e+02,
       3.0200e+02, 6.2950e+02, 4.0490e+02, 1.8580e+02, 2.8360e+02,
       7.3000e+00, 1.5269e+03, 1.4819e+03, 1.7819e+03, 7.8000e+00,
       6.7800e+01, 8.6800e+02, 7.9100e+01, 3.8500e+02, 2.8000e+00,
       5.1380e+02, 1.3570e+02, 3.3240e+02, 4.9000e+00, 1.4970e+02,
       5.8500e+01, 8.0700e+01, 5.0110e+02, 2.1140e+02, 1.1534e+03,
       8.2890e+02, 8.6910e+02, 3.7100e+02, 1.0730e+02, 2.2120e+02,
       1.1000e+00, 1.4776e+03, 1.2784e+03, 1.3061e+03, 1.2700e+01,
       2.2000e+01, 7.4340e+02, 6.4240e+02, 6.9450e+02, 2.2500e+01,
       1.8690e+02, 1.4360e+02, 1.5870e+02, 6.0550e+02, 2.0810e+02,
       4.9170e+02, 4.5610e+02, 2.7180e+02, 6.6280e+02, 2.9060e+02,
       4.2290e+02, 3.9560e+02, 2.0880e+02, 1.3000e+00, 1.5348e+03,
       1.4492e+03, 1.7906e+03, 7.9000e+00, 6.6700e+01, 8.6950e+02,
       8.0500e+01, 3.8620e+02, 5.2210e+02, 1.4190e+02, 3.3550e+02,
       1.5120e+02, 5.7300e+01, 4.9780e+02, 8.7000e+01, 2.1060e+02,
       1.1104e+03, 8.0130e+02, 3.6810e+02, 1.0350e+02, 2.1170e+02,
       1.4816e+03, 1.2613e+03, 1.3100e+03, 1.2600e+01, 7.3340e+02,
       6.5880e+02, 6.8930e+02, 1.8600e+02, 1.4270e+02, 1.5610e+02,
       6.0500e+02, 2.1450e+02, 5.0220e+02, 4.5230e+02, 2.8130e+02,
       3.0190e+02, 3.1740e+02, 4.3010e+02, 3.9610e+02, 2.0270e+02,
       2.8370e+02, 1.2000e+00, 1.5292e+03, 1.5365e+03, 8.8550e+02,
       3.8920e+02, 5.2360e+02, 1.6580e+02, 3.3930e+02, 5.4000e+00,
       5.8300e+01, 8.2700e+01, 1.0000e-01, 4.9560e+02, 9.2900e+01,
       2.0960e+02, 1.1143e+03, 8.6020e+02, 8.7590e+02, 3.6400e+02,
       1.2010e+02, 2.1540e+02, 1.4947e+03, 1.2970e+03, 1.3321e+03,
       1.3500e+01, 2.5900e+01, 7.3840e+02, 6.9930e+02, 1.8790e+02,
       1.3520e+02, 1.5800e+02, 4.0000e-01, 6.1410e+02, 2.2860e+02,
       5.0170e+02, 4.3810e+02, 2.7490e+02, 3.0450e+02, 6.6020e+02,
       3.3900e+02, 4.3080e+02, 3.9750e+02, 2.2750e+02, 2.8490e+02,
       1.5225e+03, 1.5461e+03, 8.3000e+00, 6.0200e+01, 8.9430e+02,
       9.0700e+01, 3.9840e+02, 5.3340e+02, 1.9740e+02, 3.4720e+02,
       5.7000e+00, 1.5320e+02, 5.8600e+01, 8.4000e+01, 4.8910e+02,
       9.7200e+01, 2.1470e+02, 4.7000e+00, 1.1076e+03, 8.6580e+02,
       8.7690e+02, 3.6320e+02, 1.3100e+02, 2.1490e+02, 1.5080e+03,
       1.3249e+03, 1.3336e+03, 1.6800e+01, 2.6600e+01, 7.3750e+02,
       7.0480e+02, 6.8450e+02, 2.1100e+01, 1.4140e+02, 1.5740e+02,
       6.1750e+02, 2.5400e+02, 5.0840e+02, 4.3690e+02, 2.7670e+02,
       3.1070e+02, 6.5840e+02, 3.4920e+02, 4.4400e+02, 3.9630e+02,
       2.3900e+02, 2.8850e+02, 1.5435e+03, 1.5093e+03, 8.4000e+00,
       5.9300e+01, 8.7970e+02, 9.1500e+01, 3.8590e+02, 5.3050e+02,
       1.7260e+02, 3.4740e+02, 6.2000e+00, 5.3200e+01, 4.8270e+02,
       8.5600e+01, 2.1460e+02, 4.8000e+00, 8.0120e+02, 8.6300e+02,
       1.1600e+01, 3.6790e+02, 1.2480e+02, 2.1070e+02, 1.4846e+03,
       1.2719e+03, 1.3116e+03, 1.8700e+01, 2.4800e+01, 7.2300e+02,
       6.8790e+02, 2.0900e+01, 1.9010e+02, 1.2610e+02, 1.5680e+02,
       6.1110e+02, 2.4230e+02, 5.0500e+02, 4.2330e+02, 2.5130e+02,
       3.0740e+02, 1.2300e+01, 6.5400e+02, 3.2900e+02, 4.3520e+02,
       3.9310e+02, 2.3360e+02, 2.8780e+02, 1.5482e+03, 1.5577e+03,
       6.3500e+01, 8.6700e+02, 1.1670e+02, 3.9440e+02, 2.0090e+02,
       3.5110e+02, 1.5630e+02, 5.6100e+01, 7.9900e+01, 4.7200e+02,
       9.1600e+01, 2.1530e+02, 5.0000e+00, 1.1033e+03, 8.4290e+02,
       8.5680e+02, 1.3600e+01, 3.6730e+02, 1.4330e+02, 2.1150e+02,
       1.4940e+03, 1.2586e+03, 1.3160e+03, 2.4300e+01, 7.2200e+02,
       7.1220e+02, 6.8900e+02, 2.4400e+01, 1.8860e+02, 1.2500e+02,
       1.5580e+02, 6.1240e+02, 2.5770e+02, 5.0610e+02, 2.5900e+02,
       3.0750e+02, 6.6030e+02, 3.4960e+02, 4.2890e+02, 3.9230e+02,
       2.8800e+02, 1.6000e+00, 1.6168e+03, 1.5957e+03, 9.6000e+00,
       6.8500e+01, 8.8540e+02, 1.3280e+02, 3.8880e+02, 5.5800e+02,
       2.2310e+02, 3.6290e+02, 5.6800e+01, 8.1700e+01, 4.8180e+02,
       1.0240e+02, 2.2490e+02, 5.9000e+00, 1.1220e+03, 8.3520e+02,
       8.6430e+02, 1.5200e+01, 3.7960e+02, 1.5170e+02, 2.2320e+02,
       1.5614e+03, 1.3300e+03, 1.3460e+03, 2.1800e+01, 2.9200e+01,
       7.3530e+02, 7.7750e+02, 6.9200e+02, 2.5500e+01, 1.9400e+02,
       1.2400e+02, 1.5670e+02, 6.4010e+02, 3.2370e+02, 7.3400e+02,
       4.3000e+00, 4.4290e+02, 2.6670e+02, 3.1610e+02, 6.7920e+02,
       3.5740e+02, 4.3950e+02, 4.0470e+02, 2.4610e+02, 2.9750e+02,
       1.6014e+03, 1.6791e+03, 1.7991e+03, 9.7000e+00, 6.8100e+01,
       8.7880e+02, 1.3940e+02, 3.8750e+02, 5.5570e+02, 2.4280e+02,
       3.6480e+02, 1.0000e+01, 8.0800e+01, 4.7350e+02, 1.0360e+02,
       2.1520e+02, 5.1000e+00, 1.0947e+03, 9.0930e+02, 8.5380e+02,
       1.5100e+01, 3.7050e+02, 1.5570e+02, 2.2140e+02, 1.5261e+03,
       1.3912e+03, 1.3372e+03, 2.1600e+01, 3.1500e+01, 9.2590e+02,
       7.8660e+02, 6.8230e+02, 9.9000e+01, 1.8920e+02, 1.3470e+02,
       1.5840e+02, 6.4500e+02, 3.4910e+02, 7.5160e+02, 4.2000e+00,
       4.3880e+02, 2.7510e+02, 3.1940e+02, 6.8110e+02, 3.7000e+02,
       4.3360e+02, 4.0080e+02, 2.7120e+02, 2.9500e+02])

In [14]:
data['Household Waste Generated per Inhabitant (kg)'].unique()

array([150.        , 114.        , 154.        ,   1.        ,
       135.        ,   5.        , 288.        ,  29.        ,
       115.        , 115.51604278, 217.        ,  28.        ,
         3.        , 252.        ,  86.        , 143.        ,
        21.        ,  98.        , 210.        , 119.        ,
       133.        , 237.        ,  41.        , 147.        ,
       207.        , 138.        , 145.        , 198.        ,
       131.        , 158.        , 254.        , 152.        ,
       120.        , 162.        ,  47.        , 137.        ,
       251.        ,  73.        , 136.        ,   8.        ,
       243.        ,  99.        , 146.        , 211.        ,
        61.        ,   6.        , 159.        , 128.        ,
         4.        ,  34.        , 220.        ,   2.        ,
       247.        ,  88.        ,  94.        , 208.        ,
       116.        , 235.        ,  42.        , 144.        ,
       199.        , 140.        , 129.        , 161.        ,
       255.        , 134.        , 121.        , 160.        ,
        51.        , 236.        ,  74.        , 232.        ,
        95.        , 202.        ,  62.        , 148.        ,
       163.        , 130.        , 277.        ,  35.        ,
       122.        , 223.        ,  22.        , 250.        ,
       349.        ,  20.        ,  96.        , 212.        ,
       142.        , 231.        ,  44.        , 155.        ,
       132.        , 167.        , 127.        , 156.        ,
        49.        , 219.        ,  85.        , 151.        ,
       205.        ,  63.        , 139.        , 164.        ,
       272.        ,  36.        , 123.        ,  90.        ,
       100.        , 233.        ,  48.        , 193.        ,
       241.        ,  52.        , 126.        , 218.        ,
        91.        , 125.        , 228.        , 187.        ,
        67.        , 262.        ,  32.        , 200.        ,
       339.        , 102.        , 204.        , 194.        ,
       191.        , 168.        , 240.        , 153.        ,
        92.        , 225.        , 183.        , 265.        ,
        37.        , 117.        ,  39.        , 244.        ,
       330.        ,  53.        , 192.        , 171.        ,
       227.        , 188.        ,   7.        , 258.        ,
        33.        , 213.        ,  40.        , 317.        ,
       101.        , 230.        ,  50.        , 242.        ,
       185.        ,  72.        , 169.        ,  38.        ,
        45.        , 245.        ,  87.        , 321.        ,
       113.        ,  59.        , 195.        , 165.        ,
       175.        , 190.        , 141.        ,  54.        ,
       124.        , 106.        , 234.        ,  78.        ,
       229.        , 300.        ,  55.        , 173.        ,
       203.        , 108.        , 253.        ,  46.        ,
       290.        , 196.        , 189.        , 186.        ,
       172.        , 206.        , 224.        , 166.        ,
        23.        , 111.        , 209.        , 226.        ,
       284.        , 149.        , 103.        ,  97.        ,
       110.        ,  57.        , 279.        , 118.        ,
       180.        ,  64.        , 181.        , 170.        ,
       157.        , 201.        , 182.        ,  93.        ,
       248.        ,  24.        , 109.        ,  66.        ,
       274.        , 179.        ,  75.        ,  56.        ,
       184.        , 105.        ,  25.        ,  79.        ,
       267.        , 177.        ,  81.        , 197.        ,
        69.        , 107.        ,  80.        ,  82.        ,
        89.        , 176.        , 174.        ,  84.        ,
       260.        , 178.        , 239.        ])

In [15]:
data_bulk_waste = data[data['Types of Waste'] == 'Residual household and bulky wastes']

In [16]:
data_bulk_waste.head()

,Year,States,Types of Waste,Total Household Waste Generated (Tons),Household Waste Generated per Inhabitant (kg)
0,2004,Baden-Württemberg,Residual household and bulky wastes,1605.6,150.0
6,2004,Berlin,Residual household and bulky wastes,975.0,288.0
10,2004,Brandenburg,Residual household and bulky wastes,558.2,217.0
14,2004,Bremen,Residual household and bulky wastes,167.0,252.0
21,2004,Hessen,Residual household and bulky wastes,1278.7,210.0

In [17]:
data_bulk_waste = data_bulk_waste.rename(columns={"Household Waste Generated per Inhabitant (kg)": "Waste"})

In [18]:
data_bulk_waste.head()

,Year,States,Types of Waste,Total Household Waste Generated (Tons),Waste
0,2004,Baden-Württemberg,Residual household and bulky wastes,1605.6,150.0
6,2004,Berlin,Residual household and bulky wastes,975.0,288.0
10,2004,Brandenburg,Residual household and bulky wastes,558.2,217.0
14,2004,Bremen,Residual household and bulky wastes,167.0,252.0
21,2004,Hessen,Residual household and bulky wastes,1278.7,210.0

In [19]:
data_bulk_waste.drop(['Types of Waste','Total Household Waste Generated (Tons)'],axis=1,inplace=True)

In [32]:
data_bulk_waste.head()

    Year             States  Waste
0   2004  Baden-Württemberg  150.0
6   2004             Berlin  288.0
10  2004        Brandenburg  217.0
14  2004             Bremen  252.0
21  2004             Hessen  210.0

In [33]:
y = data_bulk_waste['Waste']

In [34]:
y.head()

0     150.0
6     288.0
10    217.0
14    252.0
21    210.0
Name: Waste, dtype: float64

In [35]:
data_bulk_waste.drop(['Waste'],axis=1,inplace=True)

In [36]:
data_bulk_waste

      Year              States
0     2004   Baden-Württemberg
6     2004              Berlin
10    2004         Brandenburg
14    2004              Bremen
21    2004              Hessen
...    ...                 ...
1026  2021            Saarland
1030  2021             Sachsen
1034  2021      Sachsen-Anhalt
1038  2021  Schleswig-Holstein
1042  2021           Thüringen

[250 rows x 2 columns]

In [38]:
#Step-1
X_train,X_test,y_train,y_test = train_test_split(data_bulk_waste,y,test_size=0.2,random_state=42)

In [39]:
X_train.head()

     Year              States
563  2013     Rheinland-Pfalz
943  2020              Bremen
997  2021         Brandenburg
508  2012            Saarland
579  2013  Schleswig-Holstein

In [40]:
y_train.sample(5)

425    245.0
608    189.0
273    240.0
116    148.0
14     252.0
Name: Waste, dtype: float64

In [51]:
numeric_features = ['Year'] 
categorical_features = ['States']

In [52]:
numeric_transformer = Pipeline(steps=[('scaler', MinMaxScaler(feature_range=(-1, 1)))])

In [53]:
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(sparse_output=True, handle_unknown='ignore'))])

In [54]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [55]:
# train the model
random_forest = RandomForestRegressor(random_state=42)
#DecisionTreeRegressor(random_state=42)

Create Pipeline

In [56]:
from sklearn import set_config
set_config(display='diagram')

In [57]:
model = Pipeline(steps=[
    ('precprocessor', preprocessor),
   # ('feature_selection',feature_selection),
    ('random_forest', random_forest)
])

In [58]:
# train
model.fit(X_train,y_train)

Pipeline(steps=[('precprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   MinMaxScaler(feature_range=(-1,
                                                                                               1)))]),
                                                  ['Year']),
                                                 ('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['States'])])),
                ('random_forest', RandomForestRegressor(random_state=42))])

In [59]:
model.named_steps

{'precprocessor': ColumnTransformer(transformers=[('num',
                                  Pipeline(steps=[('scaler',
                                                   MinMaxScaler(feature_range=(-1,
                                                                               1)))]),
                                  ['Year']),
                                 ('cat',
                                  Pipeline(steps=[('onehot',
                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                  ['States'])]),
 'random_forest': RandomForestRegressor(random_state=42)}

In [60]:
X_test.head()

     Year                  States
604  2014                 Hamburg
29   2004           Niedersachsen
417  2011                  Berlin
260  2008  Mecklenburg-Vorpommern
479  2012             Brandenburg

In [61]:
final_predictions = model.predict(X_test)

In [62]:
final_predictions

array([287.22, 208.2 , 256.23, 231.98, 211.63, 242.54, 226.44, 265.14,
       158.51, 192.49, 226.61, 178.81, 139.54, 260.62, 189.75, 213.29,
       139.54, 219.45, 200.37, 236.63, 200.45, 207.16, 297.7 , 144.42,
       148.93, 209.08, 271.68, 226.89, 344.39, 151.65, 188.85, 205.48,
       229.2 , 195.05, 207.75, 252.32, 234.54, 212.22, 139.97, 188.46,
       186.67, 144.69, 228.5 , 178.31, 139.54, 251.18, 184.94, 263.56,
       188.5 , 231.26])

In [63]:
tree_rmse = mean_squared_error(y_test, final_predictions,squared=False)
tree_rmse

5.169061616966857

In [64]:
model.score(X_test,y_test)

0.9866099681355786

In [72]:
X_test.head()

     Year                  States
604  2014                 Hamburg
29   2004           Niedersachsen
417  2011                  Berlin
260  2008  Mecklenburg-Vorpommern
479  2012             Brandenburg

In [74]:
states = data['States'].unique()

In [78]:
states

array(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'], dtype=object)

In [83]:
df_input = pd.DataFrame(states,columns=['States'])

In [84]:
df_input['Year'] = 2022

In [99]:
df_input['Types of Waste'] = 'Residual household and bulky wastes'

In [100]:
df_input

                    States  Year                       Types of Waste
0        Baden-Württemberg  2022  Residual household and bulky wastes
1                   Bayern  2022  Residual household and bulky wastes
2                   Berlin  2022  Residual household and bulky wastes
3              Brandenburg  2022  Residual household and bulky wastes
4                   Bremen  2022  Residual household and bulky wastes
5                  Hamburg  2022  Residual household and bulky wastes
6                   Hessen  2022  Residual household and bulky wastes
7   Mecklenburg-Vorpommern  2022  Residual household and bulky wastes
8            Niedersachsen  2022  Residual household and bulky wastes
9      Nordrhein-Westfalen  2022  Residual household and bulky wastes
10         Rheinland-Pfalz  2022  Residual household and bulky wastes
11                Saarland  2022  Residual household and bulky wastes
12                 Sachsen  2022  Residual household and bulky wastes
13          Sachsen-Anhalt  2022  Residual household and bulky wastes
14      Schleswig-Holstein  2022  Residual household and bulky wastes
15               Thüringen  2022  Residual household and bulky wastes

In [101]:
output = model.predict(df_input)

In [102]:
df_predicted = pd.DataFrame(output, columns=['Household Waste Generated per Inhabitant (kg)'])

In [103]:
df_final = pd.concat([df_input,df_predicted],axis=1)

In [104]:
df_final.index = df_final.index+1

In [105]:
df_final

,States,Year,Types of Waste,Household Waste Generated per Inhabitant (kg)
1,Baden-Württemberg,2022,Residual household and bulky wastes,139.54
2,Bayern,2022,Residual household and bulky wastes,197.43
3,Berlin,2022,Residual household and bulky wastes,239.57
4,Brandenburg,2022,Residual household and bulky wastes,216.11
5,Bremen,2022,Residual household and bulky wastes,234.26
6,Hamburg,2022,Residual household and bulky wastes,260.62
7,Hessen,2022,Residual household and bulky wastes,180.77
8,Mecklenburg-Vorpommern,2022,Residual household and bulky wastes,231.47
9,Niedersachsen,2022,Residual household and bulky wastes,194.92
10,Nordrhein-Westfalen,2022,Residual household and bulky wastes,197.43
11,Rheinland-Pfalz,2022,Residual household and bulky wastes,208.63
12,Saarland,2022,Residual household and bulky wastes,197.09
13,Sachsen,2022,Residual household and bulky wastes,158.21
14,Sachsen-Anhalt,2022,Residual household and bulky wastes,200.45
15,Schleswig-Holstein,2022,Residual household and bulky wastes,232.72
16,Thüringen,2022,Residual household and bulky wastes,193.15